<div>

<v-simple-table>
  <thead>
    <tr>
      <th>Id</th>
      <th class="text-left">Name</th>
      <th class="text-left">Username</th>
      <th class="text-left">Email</th>
      <th class="text-left">Address</th>
      <th class="text-left">Phone</th>
      <th class="text-left">Website</th>
      <th class="text-left">Company</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="item in items" :key="item.id">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{item.address.street}}, {{item.address.suite}}, {{item.address.city}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.website}}</td>
        <td>{{item.company.name}}</td>
      </tr>
  </tbody>
</v-simple-table>

<v-flex class="text-right" mt-5>
  <v-btn to="/" min-width="100" color="error">
    <v-icon left>arrow_back</v-icon> Home
  </v-btn>
</v-flex>

</div>
