.mdl-navigation__link.active {
  text-decoration: overline;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background-color: #46B6AC;
}
